<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="sdfVPVVj"></script>
    <style>
        .container {
            display: flex;
            width: 100%;
            padding: 4% 2%;
            box-sizing: border-box;
            height: 100vh;
        }

        .box {
            flex: 1;
            overflow: hidden;
            transition: .5s;
            margin: 0 2%;
            box-shadow: 0 20px 30px rgba(0,0,0,.1);
            line-height: 0;
        }

            .box > img {
                width: 200%;
                height: calc(100% - 10vh);
                object-fit: cover;
                transition: .5s;
            }

            .box > span {
                font-size: 3.8vh;
                display: block;
                text-align: center;
                height: 10vh;
                line-height: 2.6;
            }

            .box:hover {
                flex: 1 1 50%;
            }

                .box:hover > img {
                    width: 100%;
                    height: 100%;
                }

        .img-container {
            position: relative;
            width: 450px;
            height: 350px;
            margin: 50px auto;
            overflow: hidden;
        }

        .more {
            position: absolute;
            padding-left: 10px;
            width: 90px;
            height: 40px;
            background: rgba(255, 255, 255, .6);
            color: #222;
            letter-spacing: 1px;
            line-height: 40px;
            text-align: center;
            text-shadow: 0 1px 1px #fff;
            -webkit-transition: color .5s;
            transition: color .5s;
            z-index: 1;
        }

            .more:before {
                position: absolute;
                content: '';
                left: 0;
                height: 40px;
                width: 0;
                background: #fff;
                border-right: 10px solid #ff5346;
                -webkit-transition: width .3s;
                transition: width .3s;
                z-index: -1;
            }

        .img-container > a:hover .more,
        .img-container > a:hover .more:before {
            width: 90px;
            color: #ff5346;
        }

        //khac body {
            background: #f2f2f2;
        }

        .center {
            margin: 0 auto;
            padding: 15px;
            width: 720px;
        }

        h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
        }

        .row {
            margin-top: 48px;
        }

        .description {
            margin-top: 24px;
        }

            .description p {
                text-align: center;
                font-weight: 400;
                font-size: 16px;
            }

        /*With :after */
        figure.test {
            display: inline-block;
            position: relative;
            overflow: hidden;
            text-align: center;
            cursor: pointer;
        }

            figure.test img {
                width: 100%;
                height: 100%;
            }

            figure.test figcaption {
                position: absolute;
                top: 50%;
                left: 22.5%;
                right: 22.5%;
                width: 200px;
                opacity: 0;
                z-index: 1;
                transition: all 0.8s ease-out;
                transition-delay: 0.2s;
            }

            figure.test:after {
                display: inline-block;
                position: absolute;
                content: "";
                top: 7%;
                left: 10%;
                right: 10%;
                bottom: 7%;
                background: white;
                opacity: 0;
                transition: all 0.8s ease-out;
            }

            figure.test:hover:after {
                opacity: 0.9;
            }

            figure.test:hover figcaption {
                transform: translateY(-50%);
                opacity: 1;
            }

        #rotate {
            perspective: 500px;
        }

            #rotate:after {
                transform: rotateX(90deg);
                transition: all 0.6s ease-in-out;
            }

            #rotate:hover:after {
                transform: rotateX(0deg);
            }

            #rotate figcaption {
                transition: all 0.6s ease-in-out;
                transform: translateY(-50%) rotateX(90deg);
            }

            #rotate:hover figcaption {
                transform: translateY(-50%) rotateX(0);
            }

        /*Without :after*/
        .frame {
            text-align: center;
            position: relative;
            cursor: pointer;
            perspective: 500px;
        }

            .frame img {
                width: 100%;
                height: 100%;
            }

            .frame .details {
                width: 75%;
                height: 80%;
                padding: 5% 10%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotateY(90deg);
                transform-origin: 50%;
                background: rgba(255,255,255,0.9);
                opacity: 0;
                transition: all 0.4s ease-in;
            }

            .frame:hover .details {
                transform: translate(-50%, -50%) rotateY(0deg);
                opacity: 1;
            }

            /*Effect without Perspective*/
            .frame#wth {
                perspective: none;
            }

        //nut tro len body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #555;
            }

        div.a {
            text-align: center;
        }

        //hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh 
        html {
            background: gray;
            font-family: 'Open Sans',sans-serif;
        }

        p.intro {
            background: white;
            font-size: 1.5em;
            padding: 1em;
        }

        .card-deck {
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
        }

            .card-deck .card {
                margin-right: 10px;
                margin-bottom: 10px;
            }

        .card {
            flex: 1 1 250px;
            max-width: 300px;
            background: white;
            border: 0;
            box-shadow: 2px 10px 28px -2px rgba(0, 0, 0, 0.125), 0 1px 2px rgba(0, 0, 0, 0.02);
            transition: all 0.5s;
        }

            .card:hover {
                box-shadow: 2px 30px 28px -2px rgba(0, 0, 0, 0.125);
                transform: translate3d(0, -10px, 0);
            }

            .card a {
                position: relative;
            }

            .card .card-title {
                margin-top: 0;
                transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
                font-size: 16px;
            }

                .card .card-title a {
                    color: black;
                    text-decoration: none;
                }

                    .card .card-title a:hover {
                        color: #fc0;
                    }

            .card .card-block {
                border-style: solid;
                border-color: rgba(0, 0, 0, 0.075);
                border-width: 0 1px 1px 1px;
                font-size: 14px;
            }

        .card-block {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        .card .card-block-anchorable {
        }

        .card .card-bottom-anchor {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 1.25rem;
        }

        .card .thumbnail-outer {
            position: relative;
        }

        .thumbnail {
            overflow: hidden;
            position: relative;
            outline: 0;
            box-sizing: content-box;
        }

            .thumbnail::before {
                content: "";
                display: block;
                padding-top: 100%;
            }

            .thumbnail .thumbnail-frame {
                overflow: hidden;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                outline: 0;
            }

            .thumbnail .centered {
                position: absolute;
                -webkit-transform: translate(50%,50%);
                -moz-transform: translate(50%,50%);
                -ms-transform: translate(50%,50%);
                -o-transform: translate(50%,50%);
                transform: translate(50%,50%);
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-sizing: content-box;
                outline: 0;
                display: block;
            }

            .thumbnail img {
                position: absolute;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                top: 0;
                left: 0;
                height: 100%;
            }

        .ribbon {
            position: absolute;
            padding: 0.1em 3em;
            font-size: 1em;
            font-weight: bold;
            right: 0;
            bottom: 1em;
            line-height: 1.875em;
            color: black;
            background: gold;
            box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
        }

            .ribbon:before, .ribbon:after {
                position: absolute;
                content: '';
                display: block;
            }

            .ribbon:before {
                width: 0.5em;
                height: 2.05em;
                padding: 0 0 0.5em;
                top: 0;
                right: -0.5em;
                background: gold;
                border-radius: 0 0 0.5em 0;
            }

            .ribbon:after {
                width: 0.4em;
                height: 0.4em;
                background: rgba(0,0,0,0.5);
                bottom: -0.4em;
                right: -0.4em;
                border-radius: 0 0 0.4em 0;
                box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
            }
    </style>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-success" style="font-family:Arial">
        <div class="container-fluid">
            <a href="/home/index" class="navbar-brand" style="font-family:Brush Script MT">TTD.com</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/home/GioiThieu" class="nav-item nav-link"><b>GIỚI THIỆU</b></a>
                    <a href="/home/ChuyenNganhVaDichVu" class="nav-item nav-link"><b>CHUYÊN NGÀNH - DỊCH VỤ</b></a>
                    <a href="/home/BacSi" class="nav-item nav-link"><b>BÁC SĨ</b></a>
                    <a href="/home/NhiKhoa" class="nav-item nav-link"><b>NHI KHOA</b></a>
                    <a href="/home/SieuAm" class="nav-item nav-link"><b>SIÊU ÂM</b></a>
                    <a href="/home/ChupXQuang" class="nav-item nav-link"><b>CHỤP X QUANG</b></a>
                    <a href="/home/HeThongPK" class="nav-item nav-link"><b>HỆ THỐNG PHÒNG KHÁM</b></a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/home/HoTroTV" class="nav-item nav-link"><b>HỖ TRỢ TƯ VẤN</b></a>


                </div>
            </div>
        </div>
    </nav>
    <marquee><h5 class="text-danger">Phòng khám TTD là đơn vị đầu tiên cung cấp dịch vụ dành riêng cho nhi khoa, với hệ thống phòng khám quy mô lớn nhất TP. HCM.</h5></marquee>


    <div class="a">
        <p class="intro">
            Bác sĩ phụ sản
        </p>

        <div class="card-deck">
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://img.medlatec.vn/ImagePath/imagesDoctor/20191203/20191203_bac%20si.png" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Nguyễn Thạch Thảo</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Chuẩn đoán hình ảnh</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://hthaostudio.com/wp-content/uploads/2019/08/Anh-bac-si-1-min.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Nguyễn Duy Nam</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Chuẩn đoán hình ảnh</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Hà Nội.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://img.medlatec.vn/ImagePath/imagesDoctor/20190909/20190909_BS-nguyen-cong-duy-C%C4%90HA.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Trần Văn Thủ</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Chuẩn đoán hình ảnh</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://taimuihongsg.com/wp-content/uploads/2018/05/Kim-Bun-ThuongE_taimuihongsg.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Nguyễn Hùng Cường</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Xét nghiệm</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Hà Nội.</p>
                </div>
            </div>

            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://www.fvhospital.com/wp-content/uploads/2018/11/Dr-Truong-Hieu-Nghia.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Trương Hiếu Nghĩa</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/barack-obama">Xét nghiệm</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://watermark.lovepik.com/photo/20211201/large/lovepik-male-doctor-image-picture_501367339.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Lê Quốc Hùng</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Xét nghiệm</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Đà Nẵng.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://www.fvhospital.com/wp-content/uploads/2017/10/BS-Nguyen-Van-Anh.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Nguyễn Vân Anh</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Phụ sản</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Hà Nội.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://benhvien22-12.com/wp-content/uploads/2022/06/daa486b9c8b70be952a6.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Bùi Đặng Hồng Ngọc</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Phụ sản</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://media.benhvienhathanh.vn/media/doi_ngu_bac_si/b%C3%A1c_h%C3%B9ng.png" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Dương Quốc Huy</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Xét nghiệm</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Đà Nẵng.</p>
            </div>
        </div>

        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://www.fvhospital.com/wp-content/uploads/2018/03/dr-vo-trieu-dat-2020.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Võ Triệu Đạt</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/barack-obama">Chuẩn đoán y học</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Cần Thơ.</p>
            </div>
        </div>
    </div>
    </div>
    <div class="a">
        <p class="intro">
            Bác sĩ khoa nhi và chuẩn đoán
        </p>



        <div class="card-deck">
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://mathanoi2.vn/images/doctor/bac-si-le-phuong-thao1.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Lê Thị Phương Thảo</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Chuẩn đoán</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Cần Thơ.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://honghunghospital.com.vn/wp-content/uploads/2022/06/92.-Danh-Th%E1%BB%8B-Ng%E1%BB%8Dc-Tuy%E1%BB%81n-scaled.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Danh Thị Ngọc Tuyền</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Phụ sản</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://honghunghospital.com.vn/wp-content/uploads/2022/08/97.-Nguy%E1%BB%85n-V%C5%A9-scaled.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Nguyễn Thanh Vũ</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Xét nghiệm</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Huế.</p>
                </div>
            </div>
            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://honghunghospital.com.vn/wp-content/uploads/2022/03/16.-B%C3%A0nh-Thu-Ph%C6%B0%E1%BB%A3ng-scaled.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Đặng Thu Phượng</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Phụ sản</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>

            <div class="card">
                <div class="thumbnail-outer">
                    <a href="/profile/oscar-goodman">
                        <div class="thumbnail">
                            <div class="thumbnail-frame">
                                <div class="centered">
                                    <img src="https://honghunghospital.com.vn/wp-content/uploads/2022/05/91.-Nguy%E1%BB%85n-V%C4%83n-H%E1%BA%A3i-scaled.jpg" alt="Featured Content image">
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="ribbon">Nguyễn Văn Hải</div>
                </div>
                <div class="card-block card-block-anchorable">
                    <h3 class="card-title mb-0"><a href="/profile/barack-obama">Chuẩn đoán</a></h3>
                    <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://honghunghospital.com.vn/wp-content/uploads/2020/05/43.-Nguy%E1%BB%85n-Thanh-Ph%C6%B0%E1%BB%9Bc-scaled.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Nguyễn Thanh Phước</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Khoa Nhi</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Huế.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://honghunghospital.com.vn/wp-content/uploads/2020/05/13.-Nguy%E1%BB%85n-Ng%E1%BB%8Dc-Long-scaled.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Nguyễn Ngọc Long</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Khoa nhi</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://honghunghospital.com.vn/wp-content/uploads/2020/05/1.-%C4%90%C3%A0o-Anh-D%C5%A9ng-scaled.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Đào Anh Dũng</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Khoa nhi</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
            </div>
        </div>
        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://honghunghospital.com.vn/wp-content/uploads/2021/03/67.-D%C6%B0%C6%A1ng-Thanh-H%E1%BA%A3i-scaled.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Dương Thanh Hải</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/oscar-goodman">Khoa nhi</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược Thái Nguyên.</p>
            </div>
        </div>

        <div class="card">
            <div class="thumbnail-outer">
                <a href="/profile/oscar-goodman">
                    <div class="thumbnail">
                        <div class="thumbnail-frame">
                            <div class="centered">
                                <img src="https://honghunghospital.com.vn/wp-content/uploads/2020/08/3.-Tr%E1%BA%A7n-V%C4%83n-T%C3%A2m-scaled.jpg" alt="Featured Content image">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="ribbon">Trần Văn Tâm</div>
            </div>
            <div class="card-block card-block-anchorable">
                <h3 class="card-title mb-0"><a href="/profile/barack-obama">Khoa nhi</a></h3>
                <p class="card-text mb-0">Bác sĩ với nhiều năm kinh nghiệm, tốt nghiệp tại trường Đại học Y dược TPHCM.</p>
            </div>
        </div>
    </div>
    </div>

    

    <hr>
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <h4>HỆ THỐNG PHÒNG KHÁM TTD</h4>
                    <br /> Phòng khám TTD luôn luôn sẵn sàng phục vụ khách hàng tận tâm. Lấy uy tín lên hàng đầu.
                    <br />
                    ĐỊA CHỈ: 140 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú, Thành phố Hồ Chí Minh
                    <br />
                    HOTLINE: 090.090.0909
                    <br />
                    Lịch làm việc: Sáng 7h-11h, Chiều: 13h-17h
                    <br />
                    EMAIL: ttd2001@gmail.com
                </p>

            </div>
            <div class="zalo-chat-widget" data-oaid="1594015000153980987" data-welcome-message="Rất vui khi được hỗ trợ bạn!" data-autopopup="0" data-width="" data-height=""></div>

            <script src="https://sp.zalo.me/plugins/sdk.js"></script>
            <div class="col-md-6">
                @*<a href="#" class="text-dark">Bản đồ</a>*@

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3919.0581139273195!2d106.62755585055223!3d10.806861137845743!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBUaOG7sWMgcGjhuqltIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1668506727642!5m2!1svi!2s" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                @*<span class="text-muted mx-2">|</span>
                    <a href="#" class="text-dark">Lịch sử</a>*@
                <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100088049042486" data-tabs="timeline" data-width="300" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100088049042486" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100088049042486">Phòng khám Nhi khoa</a></blockquote></div>
            </div>
        </div>

    </footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top">↑</button>

    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>




    </div>

    <div>
        @*@RenderBody()*@
    </div>

</body>
</html>


